<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference
        for="Magento\Catalog\Block\Product\ListProduct"
        type="Shellpea\AdvancedElasticsuiteCatalog\Block\ListProduct" />
    <preference
        for="Hyva\SmileElasticsuite\Block\SmileElasticsuiteSwatches\Navigation\Renderer\Swatches\RenderLayered"
        type="Shellpea\AdvancedElasticsuiteCatalog\Block\Swatches\RenderLayered" />
</config>
